@page "/registration"
@inject SingletonServise singleton
@inject NavigationManager navManager

<div class="backGroundUp">
    <div class="logoImage"></div>
</div>

<div class="backGroundDown">
    <div class="items">
        <input class="inputAuthoRectangle" placeholder="Логин" />
        <input class="inputAuthoRectangle" placeholder="Пароль" />
        <input class="inputAuthoRectangle" placeholder="Повтор пароля" />
        <button class="btnAuth" style="font-size:40px; width:425px; margin-left:0%;" @onclick="Reg">Зарегистрироваться</button>
        <a class="hyperLinkReg" href="/">Есть аккаунт?</a>
    </div>
</div>

@code {
    private void Reg()
    {
        navManager.NavigateTo("/Main");
    }
}
