<div class="left-panel top-row ps-3">
    <div class="left-logo">
        <img src="css/Images/logoImage.png" style="width:267px; height:253px;"/>
    </div>

    <div class="webs">
        <div class="webs-item">
            <a href="#"><img src="css/Images/inst.png" /></a>
        </div>

        <div class="webs-item">
            <a href="#"><img src="css/Images/telegram.png" /></a>

        </div>

        <div class="webs-item">
            <a href="#"><img src="css/Images/vk.png" /></a>

        </div>
    </div>
</div>


@code {

}
