@inherits LayoutComponentBase

<div class="page">
    <div class=" sidebar">
        <LeftPanel />

    </div>

    <main>
        <div class="main-layout-panel">
            <div class="layout-item">
                Главная
            </div>

            <div class="layout-item">
                О нас
            </div>

            <div class="layout-item">
                Меню
            </div>

            <div class="layout-item">
                Оплата и доставка
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>    
</div>

@code {

}
